.home{
    display:flex;
    align-items: center;
    background-color: #eee5d4;
    width: 100%;
    height: 60vh;
    margin-top:-100px;
    z-index:2;
    margin-bottom:-140px;
    position:relative;
}

body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita eventuali barre di scorrimento orizzontali */
}
.page{
    width: 100%;

}
#top{
    width: 100%;
    height: 46vh;
    background-color: #eee5d4;
    margin-left:0;
    margin-top:-89px;
    margin-bottom: -10px;
    z-index:1;
}
#bottom{
    width: 100%;
    height: 46vh;
    background-color: #eee5d4;
    margin-left:0;
    margin-bottom: -10px;
    z-index:1;
}
#logo{
    height:50vh;
    margin-left:30px;
    width:50vh;
    margin-left:15%;
    background-color: transparent;
}
@font-face {
    font-family: 'Sergio Trendy';
    src: url('../fonts/Sergio Trendy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.scritte{
    color:#004b3f;
    font-family: 'Sergio Trendy', sans-serif;
    font-weight: bold;
    font-size:30px;
    text-align:center;
    flex:1;
    margin-left:50px;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    background-color: #004b3f;
    width: auto;
    padding: 15px 25px; /* Margini interni */
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex; /* Usa Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    margin-right: 25%;
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 16px; /* Imposta la dimensione del testo */
    cursor: pointer; /* Aggiunge il puntatore */
    text-align: center; /* Centra il testo */
    height: auto; /* Rimuovi l'altezza fissa */
}


button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
p{
    text-align: left;
    font-size: 5vw;
    margin: -0.5vh;


}
#piccolo{
    font-size: 3.1vw;
}