
.page {
    height: 100%;
}

.profile-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*background-image: url("../static/sfondo_home.png");
    background-size: 100% 100%;
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;*/
    color:#004b3f;
    z-index: 1;
    position:relative;
}
.profile-page-container #pass {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#profile-content #scritte{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: left;
    padding-right: 2vw;
}

#profile-content, #trips-content {
    background-color: #eee5d4;
    border-radius: 4vw;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-content: center;
    margin: auto 2vw;
    height: fit-content;
}

#profile-content{
    width:35%;
    display:flex;
}
#trips-content{
    width:55%;
    min-height:60vh;
}
.profile-page-container p {
    font-size: 20px;
    margin-bottom:10px;
}
.profile-page-container #color{
    background-color: #84bd9a;
    height: 20vh;
}
.profile-page-container #orange{
    background-color: #eb9b17;
    height: 9vh;
}
.profile-page-container #pass button{
    border-radius: 10px;
    background-color: #eb9b17;
    margin-top:-15px;
}


.profile-page-container .tripPreviewContainer {
    padding: 2vh 4vw;
}

.profile-page-container .tripPreviewBlocksContainer {
    /*display: flex;*/
    overflow-x: hidden;
    margin-right: 2vw;
    mask-image: linear-gradient(to right, rgb(0, 0, 0) 80%, transparent 100%);
    height: 100%;
}

.profile-page-container .tripPreviewBlocksContainer::-webkit-scrollbar { 
    display: none; 
}

.profile-page-container .flex-space-between {
    display: flex;
    justify-content: space-between;
}

.profile-page-container .tripBlock {
    padding-bottom: 0.1vh;
}

.invitationsContainer {
    overflow-y: auto;
}


#all-trips-button {
    border: none;
    margin: 2vh 0;
    background-color: #e3d3b4;
    border-radius: 1vw;
}

#all-trips-button .bi-chevron-double-right, #all-trips-button p {
    color: white;
    text-shadow: 0 2px 0px #00000080;
    font-weight: 600;
}