
#trips {
    /*display:flex;*/
    position: relative;
    margin-top: 10vh;
    height:fit-content;
    background-color: #eee8da;
}

#trips .leftSection {
    /*display: inline-block;*/
    position: fixed;
    left: 2vw;
    background-color: #dfcca2; /* TEMP */
    width: 20%;
    height: 83vh;
}

#trips .centerSection {
    display: inline-block;
    background-color: white;
    width: 68%;
    margin-left: 20vw;
    padding-top: 4vh;
    padding-bottom: 8vh;
    height: fit-content;
    min-height: 83vh;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}



.centerSection h2 {
    text-align: left;
    margin-left: 1vw;
    padding-bottom: 1vh;
    font-size: 21pt;
}

.content .tripPreviewBlocksContainer {
    /*width: fit-content;*/
}

.tripPreviewContainer {
    display:block;
    text-align: left;
    padding: 3vh 5vw;
    font-size: 9pt;
}

.tripPreviewBlocksContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
}


/* BANNER */
#banner {
    width: 90%;
    height:fit-content;
    margin: 0 auto;
}
#bannerImg {
    width: 100%;
}