

.tripPreviewContainer {
    display:block;
    text-align: left;
    padding: 3vh 5vw;
    font-size: 9pt;
}

.tripPreviewBlocksContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
}

.tripBlock{
    width: fit-content;
    height: fit-content;
    background-color: #ffe699; /* rgb(240, 187, 89);*/
    /*border: 2px solid black;*/
    border-radius: 1vw;
    padding: 1vh 0.5vw;
    margin: 0.5vw;
    font-size: 12pt;
    box-shadow: 0.3px 0.5vh 0.3vh #0000007e;
}

#tripBlockContent {
    position: relative;
    margin: 0.6vh 0.5vw;
    margin-top: -6vh;
}

.tripBlock #imageContainer {
    width: 13vw;
    height: 20vh;
    margin: 0 auto;
}

.tripBlock #image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* per mantenere l'aspect ratio */
    border-radius: 1vw;
    background-color: #fff6e2;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}


.tripBlock #title {
    display: block;
    font-size: 18pt;
    font-weight: 600;
    margin: 1vh 0;
}

.tripBlock #date, .tripBlock #location, .tripBlock #participants {
    display: block;
    font-size: 12pt;
}

.tripBlock .icon-with-margin {
    margin-right: 0.5vw;
}

.tripBlock #buttonRow {
    width: 100%;
    margin: 0 auto;
}


.tripBlock button {
    font-size: 15pt;
    border-radius: 1vw;
    padding: 0.5vh 0.5vw;
}