.schedule-section {
    display: flex;
    flex-direction: row;
}

#schedule {
    width: 30%;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
}

#event-info {
    width: 70%;
    height: 100%;
}

#calendar {
    width: 100%;
    height: 10vh;
    background-color: rgb(201, 145, 145);
    margin: 1vh 0;
}

#events {
    overflow-y: auto;
}