.trip-details {
    overflow: auto;
}

.gallery {
    align-self: flex-start;
    width: fit-content;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30vh; 
}

.gallery-item {
    flex: 0 1 auto;
    height: 30vh;
    margin: 1vh 0.5vw;
    cursor: pointer;
}

.gallery-item img {
    /*object-fit: cover;
    width: 100%;*/
    height: 100%;
    width: auto;
    border-radius: 10px;
}

#buttons-area {
    position: fixed;
    bottom: 3vh;
    background-color: white;
    width: 12vw;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.35);
}

#upload-buttons-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.2vh;
}

#upload-buttons-row h1 {
    margin-bottom: 0;
}

#choose-file-button, #upload-button {
    border-radius: 50%;
    border: none;
    background-color: #f2b95b;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    padding: 1vh 0.7vw;
}

#upload-button:disabled {
    background-color: #e0e0e0;
}

#selected-file-name {
    font-size: 0.7vw;
}

.photo-modal {
   height: fit-content;
   width: fit-content;
   
}


.photo-modal img {
    width: auto;
    height: 60vh;
}

.photo-modal h6 {
    margin-bottom: 0;
}

.darker img {
    filter: brightness(0.5);
}

.photo-modal-top-bar, .photo-modal-bottom-bar {
    background-color: rgba(255, 255, 255, 0.692);
}

.photo-modal-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5vh 0.7vw;
}

.photo-modal-bottom-bar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.photo-modal-info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 0.7vw;
}

.dark-overlay {
    background-color: gray;
    display: block;
    position: absolute;
    margin: auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-delete-photo {
    display: block;
    position: absolute;
    margin: auto;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}