.trips-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    overflow-y: auto;
    height: calc((4 * 42px) + (3 * 2px));
    max-height: calc((4 * 42px) + (3 * 2px));
    scrollbar-gutter: stable;
    padding-right: 5px;
}

.title-text {
    color: black;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    padding-left: 14px;
}

.show-more-button {
    margin-right: 0;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #eb9b17;
    background-color: rgba(0, 255, 255, 0);
    font-size: 12px;
    font-weight: 600;
    width: calc(100% - 20px);
    box-shadow: none;
}

.show-more-button:hover {
    background-color: #84bd9a57;
}

.button-container {
    align-content: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.trips-container::-webkit-scrollbar {
    width: 6px;
}

.trips-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0px;
}

.trips-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
  
.trips-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
