.tc-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    flex: 1;
    overflow-y: hidden;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.tc-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex: 3;
    padding: 20px;
    height: 100%;
    overflow: hidden;
}

.tc-right {
    flex: 2;
    height: 100%;
    padding: 0 20px;
    border-left: 1px solid;
}

.tc-top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #e7e7e7;
    padding: 10px 10px 5px 10px;
    border-radius: 8px 8px 0px 0;
}

.tc-top-text {
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.tc-top-text.active {
    color: black;
    text-decoration: underline;
}

.tc-top-text.inactive {
    color: gray;
}

.tc-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex: 3;
    height: 100%;
    overflow: hidden;
}

.tc-middle {
    justify-items: flex-start;
    align-items: center;
    display: flex;
    gap: 10px;
}

.tc-main-recap {
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.tc-recap {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-align: center;
    gap: 20px;
}

.tc-recap-expenses {
    font-size: 14px;
    font-weight: 600;
}

.tc-title {
    font-size: 25px;
    font-weight: bold;
}

.tc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding-right: 16px;
}

.h {
    font-weight: bold;
    color: grey;
}

.tc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}

.tc-item-n-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px; 
}

.tc-item:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.tc-item-clicked {
    background-color: rgb(200, 200, 200);
}

.tc-column {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}
  
.tc-name {
    font-weight: bold;
}
  
.tc-expense,
.tc-total,
.tc-date,
.tc-by {
    text-align: right;
}

.tc-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
}

.tc-add-button {
    background-color: #EDEDED;
    color: #666666;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    cursor: pointer;
}

.tc-form {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tc-form-line {
    display: flex;
    justify-content: space-between;
}

.tc-form-list {
    max-height: 200px;
    overflow-y: auto;
}

.tc-form-banner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    z-index: 20;
}

.tc-form-destroy-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    z-index: 20;
}

.tc-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: hidden;
    padding-top: 10px;
}

.tc-list-refund {
    background-color: #e7e7e7;
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 8px;
}

.tc-list-container {
    background-color: #e7e7e7;
    flex: 1;
    padding: 10px 4px 0px 4px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    overflow-y: auto;
}

.tc-list-inner {
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -16px;
    padding-right: 16px;
}
  
.tc-list-item {
    display: flex;
    justify-content: space-between; /* Testo a sinistra, prezzo a destra */
    align-items: center; /* Centra verticalmente */
    border-bottom: 1px solid #ddd; /* Linea divisoria */
    padding: 10px 0;
}

.tc-list-left {
    display: flex;
    align-items: center; /* Centra il checkbox e il nome verticalmente */
    gap: 10px; /* Spazio tra il checkbox e il nome */
}

.tc-list-right {
    font-weight: bold;
    color: #333;
}

.tc-button-line {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    gap: 10px
}

.tc-button {
    cursor: pointer;
}

.tc-balance-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.tc-balance-item {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.tc-arrows {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.tc-scrollable-b-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 80%;
}
