.tc-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    flex: 1;
    overflow-y: hidden;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.tc-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex: 3;
    padding: 20px 20px 0px 20px;
    height: 100%;
    overflow: hidden;
}

.tc-right {
    flex: 2;
    height: 100%;
    padding: 0 20px;
    border-left: 1px solid;
}

.tc-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /*background-color: #e7e7e7;*/
    padding: 10px 10px 5px 10px;
    border-radius: 8px 8px 0px 0;
    background-image: linear-gradient(rgba(0,0,0,0) 91%, #84bd9a  91%);
}

.tc-top-text {
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 1vh 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tc-top-text.active {
    color: rgb(255, 255, 255);
    /*text-decoration: underline;*/
    background-color: #84bd9a;
}

.tc-top-text.inactive {
    color: rgb(80, 80, 80);
    background-color: #e7e7e7;
}

.tc-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex: 3;
    height: 100%;
    overflow: hidden;
}

.tc-middle {
    justify-items: flex-start;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}


.tc-main-recap {
    display: flex;
    gap: 5vw;
    justify-content: center;
}
.sb-search-bar{
    width: 63%;
    padding: 2vh 1vw;
}
.tc-recap {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-align: center;
    gap: 20px;
}

.tc-recap-expenses {
    font-size: 14px;
    font-weight: 600;
}

.tc-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.tc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding-right: 16px;
}

.h {
    font-weight: bold;
    color: grey;
}

.tc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}

.tc-item-n-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px; 
}

.tc-item:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.tc-item-clicked {
    background-color: rgb(200, 200, 200);
}

.tc-column {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}
.tc-column button {
    border-radius: 8px;
    background-color: #7edea3;
    border: none;
}
.tc-name {
    font-weight: bold;
}
  
.tc-expense,
.tc-total,
.tc-date,
.tc-by {
    text-align: right;
}

.tc-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
}

.tc-add-button {
    padding: 15px;
    border-radius: 15px;
    width: fit-content;

}
.tc-add-button button{
    border-radius: 50%;
    cursor: pointer;
    background-color: #f2b95b;
    color: black;
    border: black solid 2px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
}
.tc-add-button-form{
    background-color: #f2b95b;
    padding: 6px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
}
PickField svg{
    align-items: end;
}
.field-input{
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 30px;
}
#split .field-input {
    justify-content: end;
    border: none;
    padding-right: 0;

}
#split .field-input svg{
    margin-left: 3px;
    cursor: pointer;
}

#split .field-suggestions {
    margin-left: 54%;
    width: 120px;
}
.field-suggestions-data {
    padding: 8px;
    font-size: 16px;
}
#paid .field-input {
    justify-content: space-between;

}
#paid .field-suggestions {
    margin-left: 0;
    width: 253px;
}
.tc-add-button p{
    font-size: 12px;
    margin-top: 2px;
    color: #666666;
}


.tc-form {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tc-form-line {
    display: flex;
    justify-content: space-between;
}

.tc-form-list {
    max-height: 200px;
    overflow-y: auto;
}

.tc-form-banner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    z-index: 20;
}

.tc-form-destroy-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    z-index: 20;
}

.tc-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: hidden;
    padding-top: 10px;
}

.tc-list-refund {
    background-color: #e7e7e7;
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 8px;
    gap: 8px;
}

.tc-list-container {
    background-color: #e7e7e7;
    flex: 1;
    padding: 10px 4px 0px 4px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    overflow-y: auto;
}

.tc-list-inner {
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -16px;
    padding-right: 16px;
}

.tc-list-item {
    display: flex;
    justify-content: space-between; /* Testo a sinistra, prezzo a destra */
    align-items: center; /* Centra verticalmente */
    border-bottom: 1px solid #ddd; /* Linea divisoria */
    padding: 10px 0;
}

.tc-list-left {
    display: flex;
    align-items: center; /* Centra il checkbox e il nome verticalmente */
    gap: 10px; /* Spazio tra il checkbox e il nome */
}

.tc-list-right {
    font-weight: bold;
    color: #333;
}

.tc-button-line {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    gap: 10px
}

.tc-button {
    cursor: pointer;
}

.tc-balance-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.tc-balance-item {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.tc-arrows {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.tc-scrollable-b-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 80%;
}
.field-title {
    padding-left: 0.1vw;
    font-size: 1.1vw;
    font-weight: bold;
}
.react-datepicker {
    font-size: 12px; /* Rimpicciolisce il testo del calendario */
    width: 200px; /* Riduce la larghezza */
}

.react-datepicker__header {
    padding: 5px; /* Riduce il padding dell'header */
}

.react-datepicker__day {
    width: 20px; /* Riduce la dimensione dei giorni */
    height: 20px;
    line-height: 20px;
    font-size: 12px;


}

.react-datepicker__current-month {
    font-size: 14px; /* Riduce il testo del mese */
    display: flex;
}

.react-datepicker__navigation {
    width: 20px; /* Riduce le frecce di navigazione */
    height: 20px;
}
.react-datepicker__month-container {
float:none;
}
.tc-list-left input[type="checkbox"]{
    accent-color: #f2b95b;
    transform: scale(1.3);
    vertical-align: middle;
    margin-left: 6px;
}