.tcf-main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
}

.tfc-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    gap: 20px;
    flex: 1;
}

.tfx-last-row {
    flex: 2;
}

.tfc-block {
    width: calc(50% - 10px);
    height: 100%;
}

.tfc-list {
    height: calc(100% - 4px - 20px - 4px);
    background-color: white;
    border: solid 2px grey;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    max-height: 100px;
    overflow-y: auto;
}

.tfc-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tfc-list-item-button {
    background: red;
    color: 'white';
    border: 'none';
    padding: '5px 10px';
    border-radius: '5px';
}

.name-field {
    background-color: white;
    width: 80%;
    font-size: 20px;
    flex: 3;
    margin-bottom: 0;
    padding-left: 20px;
}

.date-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 26px;
    flex: 3;
    margin-bottom: 0;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    margin: 0%;
    color: black;
    align-items: start;
    border:  none;
    cursor: pointer;
}

.date-field {
    outline: none;
}

.single-date-container {
    background-color:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
}

.date-container {
    display: flex;
    flex-direction: row;
}

.left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
}

.send {
    flex: 1;
    padding: 0px;
    border-radius: 40px;
    margin-right: 0;
    margin-top: 0;
}

.step {
    size: 40px;
    color: grey;
}

.steps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.button-step {
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    background: none;
    box-shadow: none;
}

.title {
    font-size: 10vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 50%;
}