.mainContainer {
    width: calc(100% - 30px);
    height: 36px;
    min-height: 36px; 
    border-radius: 16px;
    cursor: pointer;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.mainContainer:hover {
    background-color: #84bd9a57;
}

.clicked {
    background-color: #84bd9a57;
}

.clicked:hover {
    color: black;
}

.secondaryContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 5px;
    flex: 4;
}


.destination {
    font-weight: 500;
    font-size: 15px;
    flex: 1;
    text-align: left;
}

.data {
    font-weight: 500;
    font-size: 12px;
    padding-top: 2px;
}
